body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.header_container {
	/* background-color: darkblue; */
}

.sticky_nav {
	position: fixed;
	top: 0;
	box-shadow: 0px -3px 7px 8px rgba(0, 0, 0, 0.16);
	width: 100vw;
	z-index: 5;
}

.light {
	color: white;

	.NavBarLinkButton_link {
		color: white;
		text-decoration: none;
	}

	.NavBarLinkButton_link:hover {
	}

	.active .NavBarLinkButton_underlines {
		background-color: white;
	}
}

.dark {
	color: black;

	.NavBarLinkButton_link {
		color: black;
		text-decoration: none;
	}

	.active .NavBarLinkButton_underlines {
		background-color: black;
	}
}

.active .NavBarLinkButton_underlines {
	height: 5px;
	border-radius: 50px 50px 0px 0px;
}

.CurrentSection_date {
}


.CurrentSection_temp {
	font-size: calc(6rem + 1.5vw);
	/* font-size: 6rem; */
}

.wind-direction-image {
	max-width: 70vw;
	max-height: 70vh;
}

.wind-section-direction {
	font-size: calc(20rem + 1.5vw);
	display: inline-block;
}

.element {
}

// =========== shared
.scroll-full-page_wrapper {
	padding-top: 123+16px;
	height: 95vh;
}

.display-contents {
	display: contents;
}

.unit-celsius::after {
	content: "℃";
}

.unit-fahrenheit::after {
	content: "°F";
}


.icon-centered {
	display: flex;
	justify-content: center;
	align-items: center;
}
.scale-5 {
	scale: 5;
}
.width-100 {
	width: 100%;
}

.p-absolute {
	position: absolute;
}
.index-5 {
	z-index: 5;
}
.index-1 {
	z-index: 1;
}

.searcher-bar__burger {
	right: 20px;
}

.no-container-margin {
	padding-right: 0px;
	padding-left: 0px;
}
.no-border {
	border: 0px none transparent !important;
}
.p-relative {
	position: relative;
}
.sideMenu__list {
	position: absolute;
	top: 0px;
	z-index: 1;
	left: 0px;
	right: 0px;
	padding: 0 12px !important;
}
