.maxMin-single-temp{
    white-space: nowrap;
}

.full-detail-page{
    padding:139px 0px 0px 0px!important;
    height: 95vh;
}
.width-100vw{
    width: 100vw;
}

.height-100{
    height: 100%;
}
.arrow-color{
    fill:#8EA5B0;
}

.meta-text-color{
    color:#757575;
    fill:#757575;
}

.optical-font-alignments{
    line-height: 0.75;
}

.droplet-volume{
    font-weight: 700;
    fill:#979797;
    color:#979797;
}

.droplet-blue-text{
    fill:#36A2AF;
    color:#36A2AF;

}

.rain-blue{
    fill:#0DE3FB;
    color:#0DE3FB;
}

hr{
    margin: 0px !important;;
}

