.maxMin-single-temp{
    white-space: nowrap;
}

.full-detail-page{
    padding:139px 0px 0px 0px!important;
    height: 95vh;
}
.width-100vw{
width: 100vw;
}

.arrow-color{
    fill:#8EA5B0;
}

.meta-text-color{
    fill:#757575;
}
